<suite name="Selenide Test Suite">
    <test name="Selenide Homework Tests">
        <groups>
            <define name="Selenide 1">
                <include name="validateBundleOffers"/>
                <include name="validateBundleOffers2"/>
                <include name="validateBundleOffers3"/>
                <include name="validateIndividualOffers"/>
            </define>
            <define name="Selenide 2">
                <include name="validateDemosDesign"/>
                <include name="validateOrderMechanics"/>
                <include name="chainedLocatorsTest"/>
                <include name="softAssertTest"/>
            </define>
            <define name="Parent Group">
                <include name="Selenide 1"/>
                <include name="Selenide 2"/>
            </define>
        </groups>
        <classes>
            <class name="SelenideTests"/>
            <class name="SelenideTests2"/>
        </classes>
    </test>

    <test name="Frontend Tests">
        <groups>
            <define name="CheckBoxes-FrontEnd">
                <include name="checkBoxTest"/>
            </define>
            <define name="dropDown-FrontEnd">
                <include name="dropDownTest"/>
            </define>
            <run>
                <include name=".*FrontEnd"/>
            </run>
        </groups>
        <classes>
            <class name="SelenideTests"/>
        </classes>
    </test>
</suite>
